<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>

<body>
<div class="navbar">

  <a href="/About">About</a>
  <a href="/classifier">classifier</a>
</div>
<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Awesome T-Shirt Co.</h1>
  <p>Welcome to our innovative website dedicated to the art of banana ripeness! Have you ever found yourself in the grocery store, staring at a bunch of bananas, wondering which one is just right for your taste? Well, look no further – our website is here to revolutionize your banana-eating experience. Our mission is to take the guesswork out of selecting the perfect banana by providing a simple and effective tool to identify whether a banana is ripe, overripe, or underripe.

Banana ripeness is a crucial factor that directly impacts its flavor, texture, and overall enjoyment. With our user-friendly interface, simply upload a photo of your banana, and our advanced algorithm will analyze its color, texture, and other key characteristics to determine its ripeness level. Whether you prefer a slightly green banana for a firmer texture, a perfectly ripe yellow banana for optimal sweetness, or are on the lookout for those overripe bananas perfect for baking, our website has you covered.

Say goodbye to the disappointment of biting into an underripe or mushy banana. Our website is designed to enhance your banana-eating experience, making sure every bite is exactly how you like it. So, whether you're a banana aficionado or just someone who wants to enjoy this nutritious and delicious fruit at its prime, our website is your go-to resource for banana ripeness identification. Join us in the quest for the perfect banana – because life is too short to settle for anything less than the best!</p>
</div>
</body>
</html>